.p-dialog {
  max-width: 40rem;
  padding: 5rem 4rem;
  background-color: $color-white;
  border-radius: 1rem;

  & &-header {
    font-family: $font-family-default;
    color: $color-primary--dark;
    margin-bottom: 1.5rem;
    font-size: 2.2rem;
    font-weight: 700;
    padding: 0;
  }

  & &-header &-title {
    color: $color-primary--dark;
    font-size: 2.2rem;
  }

  & &-header &-header-icon {
    display: none;
  }
  &.p-confirm-dialog .p-confirm-dialog-message {
    font-size: 1.6rem;
    font-family: $font-family-default;
    color: $color-gray-blue;
    line-height: 1.5;
    margin: 0;
  }

  & &-content {
    padding: 0;
  }
  & &-footer {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0;
  }

  & &-footer button {
    margin: 0;
    &:focus {
      box-shadow: none;
      transform: scale(1.05);
    }
  }
}

.p-button {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  @extend .btn;

  &.p-confirm-dialog-accept,
  &.p-confirm-dialog-accept:enabled:hover,
  &.p-confirm-dialog-accept:enabled:active {
    background-color: $color-red;
  }

  &.p-confirm-dialog-reject,
  &.p-confirm-dialog-reject:enabled:hover,
  &.p-confirm-dialog-reject:enabled:active {
    background-color: $color-gray-blue;
  }
  & &-label {
    display: flex;
    justify-content: center;
  }

  & &-icon-left {
    display: none;
  }
}
