app-comment-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

app-commenting-area-shell {
  background-color: #fff;
  padding: 1rem 2rem 2rem;
  border-radius: 0.8rem;
}

.comments__container {
  // max-height: 60rem;
  // overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
